<template>
  <div id="list" class="container">
    <div id="alert-message" class="row alert alert-danger" role="alert" style="display:none;" />
    <div class="form-row">
      <div class="form-group col-6">
        <label for="text-list">注文リスト</label>
        <textarea id="text-list" v-model="lists_text" class="form-control" @change="convertList" />
      </div>
    </div>
    <div class="form-row" style="padding-top:15px;">
      <div class="form-group col-1">
        <input id="time" v-model="time" type="number" min="1" class="form-control">
      </div>
      <label class="col-form-label" for="time">秒</label>
    </div>
    <div class="form-row" style="padding-top:15px;">
      <button
        type="button"
        id="rulet-button"
        v-if="!process_flag"
        class="btn btn-primary"
        @click="rulet(true)">
        抽選スタート
      </button>
      <button
        type="button"
        id="rulet-button"
        v-else
        class="btn btn-primary"
        disabled>
        抽選中
      </button>
    </div>
    <div class="row" style="padding-top:15px;">
      <div class="card col-8">
        <div class="card-body">
          <h5 class="card-title">
            ご注文は・・・
          </h5>
          <span id="card-text-order" class="card-text" />
        </div>
      </div>
      <div class="card col-4">
        <div class="card-body">
          <h5 class="card-title">
            注文済みリスト
          </h5>
          <p id="card-text-ordered" class="card-text" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      lists_text: '',
      select_list: '',
      lists: [],
      select_lists: [],
      start_time: new Date(),
      interval_id: '',
      exit_flag: false,
      process_flag: false,
      time: 10
    }
  },
  methods: {
    convertList () {
      this.lists = this.lists_text.split(/\n/)
    },
    checkSeconds (seconds) {
      const diffTime = new Date() - this.start_time
      if (diffTime <= seconds * 1000) {
        return false
      }
      return true
    },
    rulet (firstFlag = false) {
      if (this.check() === true) {
        const ruletButtonElement = document.getElementById('rulet-button')
        if (firstFlag === true) {
          this.start_time = new Date()
          this.interval_id = null
          this.exit_flag = false
          this.process_flag = true
          ruletButtonElement.innerText = '抽選中'
        }
        this.random()
        if (firstFlag === true && !this.interval_id) {
          this.interval_id = setInterval(this.rulet, 100)
        }
        if (this.checkSeconds(this.time) || this.exit_flag === true) {
          clearInterval(this.interval_id)
          const orderedTextElement = document.getElementById('card-text-ordered')
          this.select_lists.push(this.select_list)
          orderedTextElement.innerText = this.select_lists.join('\n')
          this.process_flag = false
          ruletButtonElement.innerText = '抽選スタート'
        }
      }
    },
    random () {
      let randomInt = 0
      const orderTextElement = document.getElementById('card-text-order')
      randomInt = Math.floor(Math.random() * (this.lists.length))
      if (this.select_lists.length > 0) {
        if (this.select_lists.includes(this.lists[randomInt]) === false) {
          this.$set(this, 'select_list', this.lists[randomInt])
          orderTextElement.innerText = this.lists[randomInt]
        }
      } else {
        this.$set(this, 'select_list', this.lists[randomInt])
        orderTextElement.innerText = this.lists[randomInt]
      }
      if (this.lists.length === 1) {
        this.exit_flag = true
      }
    },
    check () {
      if (!this.lists_text) {
        document.getElementById('alert-message').style = ''
        document.getElementById('alert-message').innerText = '注文リストが入力されていません'
        return false
      }
      if (this.lists.length !== 0) {
        this.lists.forEach((value, key) => {
          if (this.select_lists.length === 0) {
            document.getElementById('alert-message').style = 'display:none;'
            document.getElementById('alert-message').innerText = null
            return true
          } else if (this.select_lists.includes(value) === true) {
            this.lists.splice(key, 1)
          }
        })
      }
      if (this.lists.length === 0) {
        document.getElementById('alert-message').style = ''
        document.getElementById('alert-message').innerText = '全ての注文リストが注文済みです'
        return false
      }
      document.getElementById('alert-message').style = 'display:none;'
      document.getElementById('alert-message').innerText = null
      return true
    }
  }
}
</script>
